{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">dashboard</span>
</div>
{% if user.is_authenticated %}
<p>Hello {{user.username}}</p>
<a href="{% url 'logout' %}">Logout</a>

{% else %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'registration' %}">Register</a>
{% endif %}

<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>