{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="main-page">

<div class="outer">

<a href="{% url 'registration' %}" class="btnw btn" id="registerbtn">Register Here</a>
</div>

<!--
<form method="POST" action="">
    <ul class="form-list">
    {% csrf_token %}
    <li class="input-field"><input type="text" placeholder="John@example.com" name="username" value=""  class='validate'><label>Username</label></li>

    <li class="input-field"><input type="password" placeholder="john" name="password" value="" class='validate' ><label>Password</label></li>
    </ul>
<div class="row">
    <button type="submit" value="Login" class="btnb btn">Login</button>
    <a class="mainn-right-link" href="forgot-password.html">Forgot password?</a>

</div>
    <div class="clear"></div>
</form>-->




    </div>
</div>
<div class="clear"></div>
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</section>
<div class="clear"></div>
<footer>
<div class="outer">
&copy;copyright 2017
</div>

</footer>
{% endblock %}